#robovis-page {
	display: none;
	padding-left: 5%;
	padding-right: 5%;
	width: 90%;
}

#robovis-page strong {
	display: block;
	margin: 15px 0 5px;
}

#robovis-blobs-box {
	border: 2px solid black;
	height: 100px;
	margin: 10px;
	overflow: hidden;
	position: relative;
	width: 100px;
}
#robovis-blobs-box div {
	border: 1px solid;
	position: absolute;
}
#robovis-blobs-box.blobs div {
	border: 1px solid white !important;
}
#robovis-blobs-box.overlay div {
	background: transparent !important;
}
#robovis-blobs-box.image div {
	display: none;
}
